@import url('https://fonts.googleapis.com/css?family=Abel|Fjord+One|Mate|Abel');

/*---------------Base styles----------------*/
* {
	box-sizing: border-box;
}

body {
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

img {
	width:100%;
	min-width:560px;
}

h1 {
	font-family: Fjord One;
	font-size:64pt;
	line-height:110%;
}

h2 {
	font-family: Fjord One;
	font-size:22pt;
	margin-bottom: 30px;
}

a,p {
	color:#4F4F4F;

	font-family: Abel;
	font-size:24pt;
}

a {
	text-decoration: underline;
	transition: all .5s ease;
}

a:hover {
	color:#36E0A1;
}

#caret {
	text-decoration: none;
	font-size: 18pt;
}

span {
	color:#36E0A1;
}

nav {
	display:flex;
	justify-content: flex-end;

	padding-top: 15px;
	margin-right: 40px;
}

header {
	background-image: url("../img/IDEOmakeathon-3.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100vh;
}


/*---------------Specific styles----------------*/

.special-white {
	color:#FFFFFF;
}

#nav-link {
	text-decoration: none;
	margin-top:4px;
	margin-bottom:4px;
	margin-left:20px;
	margin-right:20px;

	padding-bottom:3px;	

	border-bottom: 7px solid #FFFFFF;

	font-size:16pt;
	text-transform: capitalize;

	 
}

/*------mouse-over hover effect for navigation links-------*/
#nav-link:hover {
	color:#36E0A1; /*teal*/
	border-color: #36E0A1;
}

#header-text {
	margin-top:73vh;
	margin-left:100px;
}

/*----------yellow emphasis stripes-------------*/

.vertical {
	position:absolute;
	background-color: #FBE14C;
	width:10px;
	height: 100vh;  /*based on % viewport height of the page*/
}

.vertical-top {
	left: 0;
    top: 350px;
}

.vertical-bottom {
	right:0;
	bottom:0;
}

.wrapper {
	position:relative;
}


/*------Defines the subheader under the main splash----------*/

.wrapper {
	background-color: #F7F7F7; 
	padding-top: 80px;
	padding-bottom:100px;
}


.subhead {
	margin-left: 100px;
	margin-right:30px;
	/*margin-top:65px;*/
	margin-bottom:65px;
	width:85%;
}

.subhead-emphasis-wrapper {
	background-color: #FBE14C;
	margin-top:15px;
	margin-left:60px;
	margin-bottom:17px;  /*controls the H of subhead section*/
	padding-bottom:40px;
	width: 50%;
}
;
.subhead-emphasis p{
	color: #4F4F4F;
}

.subhead-emphasis {
	padding-left:80px;
}

/*-------Base styles and layout for grid container----------*/

.intro-text {
	margin-top: 50px;
	margin-left:150px;
}

.skills-container {
	display:grid;
	justify-content:stretch;
	overflow:hidden;

	/*width:83%;*/

	grid-template-rows:180px 180px 180px 180px; 
	grid-template-columns:1fr 1fr 1fr 1fr; /*4-column layout*/

	/*Defines the state of the project tile images in grid format*/
	grid-template-areas: 
	"ar1 sk1 sk2 sk3"
	"ar2 sk4 sk5 sk6"
	"ar3 sk7 sk8 sk9"
	"ar4 sk10 sk11 sk12";

	/*Margins and gutters and other styles*/
	grid-column-gap: 60px;	
	margin-right:150px;
	margin-left:150px;
	margin-top: 100px;
	margin-bottom:100px;
	background-color:white;
	min-width:1000px;
}


/*--------Assign classes to grid-areas defined above---------*/

.ar1 {
	grid-area: ar1;
}

.sk1 {
	grid-area: sk1;
}

.sk2 {
	grid-area: sk2;
}

.sk3 {
	grid-area: sk3;
}

.ar2 {
	grid-area: ar2;
}

.sk4 {
	grid-area: sk4;
}

.sk5 {
	grid-area: sk5;
}

.sk6 {
	grid-area: sk6;
}

.ar3 {
	grid-area: ar3;
}

.sk7 {
	grid-area: sk7;
}

.sk8 {
	grid-area: sk8;
}

.sk9 {
	grid-area: sk9;
}

.ar4 {
	grid-area:ar4;
}

.sk10 {
	grid-area: sk10;
}



/*--------Styling for grid items---------*/


.skill {
	margin:0;
	min-width: 200px;
	font-size:18pt;
}

.skill-area-header {
	border-left: 8px solid; 
	padding-left:15px;
	margin:0;
}

.yellow {
	border-left-color:#FBDF4C;
}

.yellow-text {
	color:#F2DA5F;
}

.pink {
	border-left-color: #E036D9;
}

.pink-text {
	color: #E036D9;
}

.teal {
	border-left-color: #36E0A1;
}