
@import url('https://fonts.googleapis.com/css?family=Abel|Fjord+One|Mate|Abel');

/*---------------Base styles----------------*/
* {
	box-sizing: border-box;
}

body {
	margin:0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

img {
	width:100%;
	min-width:560px;
}

h1 {
	font-family: Fjord One;
	font-size:64pt;
	line-height:110%;
}

h2 {
	font-family: Fjord One;
	font-size:22pt;
	margin-bottom: 30px;
}

a,p {
	color:#4F4F4F;

	font-family: Abel;
	font-size:24pt;
}

a {
	text-decoration: underline;
	transition: all .5s ease;
}

a:hover {
	color:#36E0A1;
}

#caret {
	text-decoration: none;
	font-size: 18pt;
}

span {
	color:#36E0A1;
}

nav {
	display:flex;
	justify-content: flex-end;

	padding-top: 15px;
	margin-right: 40px;
}

header {
	background-image: url("../img/main-splash.png");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:100vh;
}

/*---------------Specific styles----------------*/

.special-white {
	color:#FFFFFF;
}

#nav-link {
	text-decoration: none;
	margin-top:4px;
	margin-bottom:4px;
	margin-left:20px;
	margin-right:20px;

	padding-bottom:3px;	

	border-bottom: 7px solid #FFFFFF;

	font-size:16pt;
	text-transform: capitalize;


}

/*------mouse-over hover effect for navigation links-------*/
#nav-link:hover {
	color:#36E0A1; /*teal*/
	border-color: #36E0A1;
}

#header-text {
	margin-top:53vh;
	margin-left:80px;
}

/*----------yellow emphasis stripes-------------*/

.vertical {
	position:absolute;
	background-color: #FBE14C;
	width:10px;
	height: 100vh;  /*based on % viewport height of the page*/
}

.vertical-top {
	left: 0;
	top: 350px;
}

.vertical-bottom {
	right:0;
	bottom:0;
}

.wrapper {
	position:relative;
}

/*------Defines the subheader under the main splash----------*/

.subhead-wrapper {
	display:flex;
}

.subhead {
	margin-left: 80px;
	margin-right:30px;
	margin-top:45px;
	width:45%;
	color: #4F4F4F; /*gray*/
}

.subhead-emphasis-wrapper {
	background-color: #FBE14C;
	margin-top:15px;
	margin-left:60px;
	margin-bottom:17px;  /*controls the H of subhead section*/
	padding-bottom:40px;
	width: 50%;
}
;
.subhead-emphasis p{
	color: #4F4F4F;
}

.subhead-emphasis {
	padding-left:80px;
}

/*-------Base styles and layout for grid container----------*/
.project-container {
	display:grid;
	justify-content: stretch;
	overflow: hidden;

	width:100%;

	grid-template-rows:540px 540px 540px 540px; 
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr; /*6-column layout*/

	/*Defines the state of the project tile images in grid format*/
	grid-template-areas: 
	"proj-1 proj-1 proj-2 proj-2 proj-2 proj-2"
	"proj-3 proj-3 proj-3 proj-3 proj-4 proj-4"
	"proj-5 proj-5 proj-6 proj-6 proj-6 proj-6"
	"copyri	copyri site-n site-n site-n site-n";

	/*Margins and gutters*/
	

}


.test-format {
	height:100%;
}


/*--------Assign classes to grid-areas defined above---------*/
.proj-1 {
	grid-area: proj-1;
}

.proj-2 {
	grid-area: proj-2;
}

.proj-3 {
	grid-area: proj-3;
}

.proj-4 {
	grid-area: proj-4;
}

.proj-5 {
	grid-area: proj-5;
}

.proj-6 {
	grid-area: proj-6;
}

.copyri{
	grid-area: copyri;
}

.copyri p{
	text-align: right;
	margin-right:30px;
}

.site-n {
	background-color: #DAE0DC;
	grid-area: site-n;
}

.site-n-wrapper {
	margin-left:30px;
	margin-top:30px;
}

.site-n-wrapper a{
	display:block;

	font-family: Abel;
	font-size: 24pt;
	text-decoration: none;
	text-transform:uppercase;
	color:#4F4F4F;

	margin-bottom:35px;
}

.site-n-wrapper a:hover{
	transform: all 200ms ease;
	color:#36E0A1;
}


/*-----------Style for default gray overlay-------------*/

.overlay-wrapper {
	position:relative;
	overflow: hidden;
}

.overlay {
	position:absolute;
	height: 540px;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.6);
	transition: all 400ms ease-out;
}

.overlay-wrapper:hover .overlay {
	opacity:0;
}


/*-----------Style for text on default gray overlay------------*/

.proj-wrapper-sm {
	margin-top:30%;
	margin-left:23%;
	margin-right:23%;
}

.proj-wrapper-lg {
	margin-top: 15%;
	margin-left: 40%;
	margin-right:25%;
}

.proj-text {
	margin-bottom:10px;
}

.proj-category {

	text-transform: uppercase;
	color:#36E0A1;
	font-size: 18pt;
}

/*-----------Additional styling for emphasis-----------------*/

.underline {
	margin-top:0;
	height:10px;
	width:40%;
	background-color: #FFFFFF;
}

.copyright {
	font-size:26px;
}