@import url('https://fonts.googleapis.com/css?family=Fjord+One|Biryani|Biryani:200|Biryani:300|Biryani:600|Abel');


/*base styles*/

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Abel;
}

a {
	text-decoration:none;
}

p {
	margin-bottom: 0;
	margin-top: 1.5em;
}

h2 {
	margin: 0;
	padding: 0;
	line-height: 130%;
	font-size: 36px;
	font-weight: normal;
	color:#454545;
	font-family: 'Fjord One';
}

h3 {
	margin: 0;
	color: #000000;
	font-family: 'Fjord One';
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}

/*base styling for each section*/
.section-wrapper {
	min-height:100vh;
}

.purple-backgr {
	background-color: #7F5AE8;
}

.pink-backgr {
	background-color: #F45E60;
}

.grey-backgr{
	background-color: #F5F5F5;
}

.photo-backgr {
	background-image: url('../img/surprise.png');
	background-repeat: none;
	background-size: cover;
	background-attachment: fixed;
}

/*for text*/
#purple {
	color:#9B51E0;
}

#pink {
	color:#F45E60;
}


#white {
	color:white;
}

#yellow {
	color:#FAE35C;
}

/*base styling for section content*/
.project-header{
	display: flex;
	min-width: 800px;
}

.section-container {
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 3vh;
}

.project-wrapper {
	width: 63%;
	margin:auto;
	padding-top: 26vh;
	padding-bottom: 25vh;
}

.post-photo-project-wrapper {
	width: 63%;
	margin:auto;
}

.project-header-title {
	width: 60%;
	padding-bottom: 10px;
}

.emphasis-vertical {  /*the colored vertical bar that marks each section*/
	padding-bottom:8px;
	padding-left:30px;
}

.pink {
	border-left: 10px solid #F45E60; /*pink-red*/
}

.grey {
	border-left: 10px solid #C4C4C4;
}

.emphasis-vertical-blank {
	padding-bottom:8px;
	padding-left:40px;
}


.project-header-description {
	width: 90%;
	flex-grow: 1;
	margin-left: 50px;
}

.text-project {
	margin: 0;
	text-align: left;
	line-height: 150%;
	font-family:Abel;
	font-size: 18px;
	color: #959595;
	opacity: 0.8;
}

.project-state {
	padding-bottom: 8px;
	color:#828282;
}


/*landing section only*/
.project-header-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	height:200px;

	background-image: url("../img/peaches-splash.png");
}

.credit {
	font-family: Abel;
	font-size: 10pt;
	color:#ABABAB;
	text-align: right;
}

.project-header-info {
	display: flex;
	min-width: 800px;
	margin-top: 50px;
}

.project-role {
	width: 60%;
}
.project-year {
	width: 25%;
	margin-left: 50px;
}
.project-tags {
	width: %;
}

.info-content {
	flex-grow: 1;
}


/*special app section*/
.subwrapper {
	padding-bottom: 150px;
}

.flex-container {
	display:flex;
}

.flex-container-margins {
	padding-top: 60px;
	padding-bottom:60px;
}

.subtitle {
	margin-top:10px;
	margin-bottom:20px;
	font-size: 20pt;
}

.item {
	margin-left: 50px;
}
.icon {
	width:35%;
	height:95px;
	background-image: url("../img/peach-icon.png");
	background-repeat: no-repeat;
}

.display-app {
	height:100%;
	width:100%;
}



/*Non-landing page sections*/

.emphasis-statement {
	font-family: 'Abel';
	width: 75%;
	margin: auto;
	color: #828282;
	font-size: 20px;
	line-height: 150%;
	z-index: 1;
	margin-bottom:30px;
}

.tooltip {
	position:relative;
	display: inline-block;
	/*border-bottom: 1px dotted white;*/
}

.tooltip .tooltip-text {
	visibility: hidden;
	width: 400px;
	background-color:black;
	color:white;
	text-align:left;
	padding:30px 30px;
	font-size:14pt;
	line-height: 140%;

	/*position tooltip*/
	position:absolute;
	left:300px;
	top:-10px;
	z-index: 1;
}

.tooltip:hover .tooltip-text{ 
	transition:all 5s linear;
	visibility: visible;
}

/*findings wrapper*/

.research-wrapper {
	/*position*/
	width:70%;
	margin:auto;

	/*spacing*/
	padding-top:100px;
}

.ln2 {
	padding-top: 10px;
	padding-bottom: 20px;
}


.sub {
	margin-top:40px;
	margin-bottom: 0px;
}

.sub-style {
	font-size:18px;
	color:#828282;
	line-height: 140%;
}

.testimonial {
	padding-top:30px;
}

.testimonial-intro {
	text-transform: uppercase;
	font-size:16px;
	font-color:#5e5e5e;
	padding-bottom: 10px;
}

.testimonial-text {
	margin-top:10px;
	margin-bottom: 20px;
}

/*flex container*/

.col3 {
	justify-content: space-between;
}

.col2 {
	width:80%;
}

.col2-item {
	margin-right: 30px;
}

.flex-container-item {
	width: 26%;
	padding:5px 20px;

	font-size: 18px;
	color:#828282;
}

.box {
	min-height: 200px;
}

.image-container {
 width:70%;
}

.flex-container img {
	width:100%;
}

/*cards*/

.purple-border {
	border: 1px solid #7F5AE8;
}

.pink-border {
	border: 1px solid #F45E60;
}

/*Styling for photos*/ 

img {
	width:50%;
}


.photo-asset-wrapper {
	/*position:relative;*/
	margin:auto;
	margin-top: 100px;
	width:80%;
	/*min-height: 100vh;*/
}

.photo-asset {
	text-align: center;
	color:#828282;
	width:100%;
}

.photo-caption {
	padding-top: 5px;
	margin:0;
	text-align: right;
	color:#828282;
}


/*How might we section*/
.container-item {
	padding-bottom: 50px;
	width:45%;
	font-size: 18px;
}

.hmw {
	font-family: 'Fjord One';
	font-size:20px;
	line-height: 150%;

}

/*prototype - lo fi*/

.photo-with-caption-sm {
	width: 245px;
	padding-right: 20px;
}

.photo-with-caption-sm p{
	margin-top: 3px;
	margin-bottom: 20px;
	padding:10px;
	text-align: left;
}

/*prototype - med-fi*/

.med-fi {
	width:85%;
	margin:auto;
	padding-top:100px;
}

.basic-margins {
	margin-top:150px;
}