@import url('https://fonts.googleapis.com/css?family=Fjord+One|Biryani|Biryani:200|Biryani:300|Biryani:600|Abel');

/*base styles*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Abel';
  color:#959595;
  margin-bottom:0;
}

img {
  width:55%;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 130%;
  font-size: 36px;
  font-weight: normal;
  color:#454545;
  font-family: 'Fjord One';

}

h3 {
  margin: 0;
  color: #000000;
  font-family: 'Fjord One';
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

span {
  color:#FFF86B;
}

/*back butten styling*/
.back-button { 
  width:50px;
  height:30px;
  position:relative;
  top:150px;
  left:25%;
}

a {
  text-decoration: none;
}

p a {
  color:#4CBBF2;
}

footer {
  margin-top: 150px;
  text-align: center;
}

.test {
  padding-top:10vh;
  background-color: #F5F5F5;
}

.back-button-format {
  font-size: 20px;
  opacity: 0.7;
}

.back-button-format:hover {
  color:blue;
}

/*section styles of page*/

.section-margins {
  height:100vh;
}

.text-project {
  margin: 0;
  text-align: left;
  line-height: 150%;
  font-size: 18px;
  color: #959595;
  opacity: 0.8;
}

.section-container {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.ln2 {
  margin-top: 0;
  margin-bottom:0;
}

/*formats the insights section*/
.wrapper {
  position: relative;
}

.wrapper-2 {
  position:relative;
  top:150vh;
}

#backdrop {
  position: absolute;
}

.insight-section-wrapper {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/sky-photo.png");
  background-attachment: fixed;
  top:0;
  padding-bottom:15vh;
  width:100%;
}

.insight-section-final-wrapper {
  padding-top:20vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/Result-2-background-overlay_3.png");
  background-attachment: fixed;
  top:0;
  padding-bottom:30px;
}

.insight-wrapper {
  margin-top:15vh;
}

.demo-img {
  display:block;
  width:750px;
  margin:auto;
  padding-top:80px;
}

.credit {
  font-family: Abel;
  font-size: 10pt;
  color:#ABABAB;
  text-align: right;
}

/*Specifies two similar sections, project header and insight sections
which both consist of a title and description section*/

.insight-section, .project-header{
  display: flex;
  min-width: 800px;
}

.project-header-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height:30vh;

  background-image: url("../img/soundings-wall-header.png");
}

.project-wrapper {
  height:100vh;
  background-color:#F5F5F5;
}

.project-header-title {
  width: 40%;
  padding-bottom: 10px;
}

.project-header-description {
  width: 90%;
  flex-grow: 1;
  margin-left: 50px;
}

/*style for vertical emphasis bar*/
.emphasis-vertical {
  padding-bottom:8px;
  padding-left:30px;
  border-left: 10px solid #4CBBF2;
}

.emphasis-vertical-blank {
  padding-bottom:8px;
  padding-left:30px;
  border-left: 10px hidden #F5F5F5;
}

.insight-statement-title {
  width: 40%;
  padding-bottom: 10px;
}

.white {
  color:white;
}

.insight-statement-emphasis {
  font-family: 'Biryani';
  font-size: 28px;
  font-weight: 200;
  color: #000000;
  line-height: 140%;
  z-index: 1;
  color:white;
  margin-top:10px;
}

.project-header-info {
  display: flex;
  min-width: 800px;
  margin-top: 50px;
}

.info-content {
  flex-grow: 1;
}

.project-role {
  width: 60%;
}
.project-year {
  width: 25%;
  margin-left: 50px;
}
.project-tags {
  width: %;
}

.project-prompt {
  width: 63%;
  margin:auto;
  padding-top: 35vh;
  padding-bottom: 25vh;
}

.emphasis-statement {
  font-family: 'Abel';
  width: 75%;
  margin: auto;
  color: #828282;
  font-size: 20px;
  line-height: 150%;
  z-index: 1;
  margin-bottom:30px;
}

.emphasis-statement-wrapper {
   margin-bottom: 25vh;
}


.emphasis-statement-highlight {
 position:relative;
 width: 35%;
 height:30px;
 background-color: #C8EDFF;
 margin:auto;
 top:-350px;
 left:-60px;
 z-index:-1;
}

.photo-asset-with-caption {
  text-align: center;
  color:#828282;
  margin-top: 100px;
  margin-bottom: 100px;
}

.link {
  display:block;
  text-align:center;
  margin:0 auto;
  background-color: #FFFFFF;
  height:38px;
  width:332px;
  border: 2px solid black;
  padding-top:5px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
}

.link-embed {
  color:#9ECE45;
}

.link-embed:hover {
  transition:all 0.4s ease;
  color:#FFF86B;
}

.concept-descriptions-container {
  margin:auto;
  display:flex;
  width:50%;
  justify-content: space-evenly;
}
.concept-descriptions-item {
  width:25%;
  padding:20px;
}

/*Base styles and layout for grid container*/

.card-container {

  display: grid;
  width: 50%;
  min-width: 900px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 425px 425px 425px;

  /*Defines the state of the project tile images in grid format*/
  grid-template-areas:
  "1_1 1_2 1_3"
  "2_1 2_2 2_3"
  "3_1 3_2 3_3";

  /*Margins and gutters*/
  grid-gap: 18px;
  margin: auto;
  padding-top:50px;
  padding-bottom:100px;
}

/*Names the grid areas which correspond to the class definition
referred to by the html*/
.img1_1 {
  grid-area: 1_1;
}

.img1_2 {
  grid-area: 1_2;
}

.img1_3 {
  grid-area: 1_3;
}

.img2_1 {
  grid-area: 2_1;
}

.img2_2 {
  grid-area: 2_2;
}

.img2_3 {
  grid-area: 2_3;
}

.img3_1 {
  grid-area: 3_1;
}

.img3_2 {
  grid-area: 3_2;
}

.img3_3 {
  grid-area: 3_3;
}

/*formatting for flip cards*/
img {
  width:100%;
}

.card {
 box-shadow: 1px 1.5px 5px #999999;
 position: relative;
 text-align:left;
 transition: all 0.4s ease;
 transform-style: preserve-3d;
}

.back, .front {
  backface-visibility: hidden;
  position: relative;
  top:0;
  left:0;
  background-color:white;
}

.back {
  top:-104.5%;
  left:0;
  width:100%;
  height:100%;
  transform:rotateY(180deg);
}

.back-text {
  padding-top:30%;
  padding-left:20px;
  padding-right:20px;
  font-family: 'Abel';
  font-weight:200;
  font-size:20px;
  line-height:150%;
}

.card:hover {
  transform:rotateY(180deg);
}

/*site map container*/
.site-map-container {
  display: flex;
  justify-content: space-around;
  width:20%;
  margin:auto;
  margin-top: 300px;
  margin-bottom: 20px;
}

.site-map-item {
  color:#959595;
  font-family: Abel;
  font-size: 20px;
  text-transform: uppercase;
  padding-right:20px;
  padding-bottom: 10px;
}

.site-map-item:hover {
  color:white;
}